<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <h2>Damage calculator landing page</h2>
    <br>
    <form action="#" th:action="@{/wolf/calculate}" method="get">
        <input type="submit" value="Navigate to input fields calculator" />
    </form>
     <form action="#" th:action="@{/wolf/calculateJSON}" method="get">
        <input type="submit" value="Navigate to JSON calculator" />
    </form>
     <form action="#" th:action="@{/battle}" method="get">
        <input type="submit" value="Navigate to Battle calculator UI" />
    </form>
</body>
</html>