<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Damage calculator</title>
<script id="sap-ui-bootstrap" type="text/javascript"
	src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
	data-sap-ui-theme="sap_belize"
	data-sap-ui-libs="sap.m"
	data-sap-ui-compatVersion="edge"
	data-sap-ui-async="true"
	data-sap-ui-resourceroots='{"DamageCalculator": "./"}'
	data-sap-ui-onInit="module:DamageCalculator/index"
	>
</script>
</head>
<body class="sapUiBody" id="content"></body>
</html>